.Gamediv {
	border: 12px solid white;
  background-color: navy;
  text-align: center;
  height: 720px;
  width: 960px;
  margin: 0 auto;
}

h1 {

text-align:center;
text-decoration: underline;
margin-bottom: 30px

}

body {
  background-color: navy;
}